{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
    <div class="d-flex flex-column admin-action">
        <h2>Créer un art-event</h2>  
            {{ form(form) }}
    </div>
</div>
{% endblock %}
