{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
<div class=" admin-action">
    <h2>Modifier l'evenement</h2>
        {{form(form)}}
</diV

{% endblock %}