{% extends "base.html.twig" %}
{% block body %}

    <div class="about-us-title title-container">
        <h1 class="title-page ">À propos de Coach Art</h1>      
    </div>
    <div class="about-us-info">
    <p>Coach-art est le résultat de ces expériences. La particularité du coach-art est qu'il offre une expertise thérapeutique, qui apporte une exploration personnelle plus profonde dans les ateliers, destinés à libérer le stress, les angoisses de la vie quotidienne. L'idée n'est pas de réaliser une séance thérapeutique, mais d'explorer à travers les différents ateliers ...</p>
    <p>Emilie est une coach personnelle et artiste de grande trajectoire, elle a réalisé différents ateliers dans différentes parties du monde, dans lesquels elle a pu observer les apports que les techniques de développement personnel ont.
    </p>
    <img src="/uploads/emilie.jpeg" width"300" height="400"/>
    </div>

{% include "footer.html.twig" %}
{% endblock %}