{% extends "base.html.twig" %}
{% block body %}

    <div class="about-us-title title-container">
        <h1 class="title-page ">À propos de Coach Art</h1>      
    </div>
    <div class="about-us-info">
    <div>
        <p>Coach-art est le résultat de ces expériences. La particularité du coach-art est qu'il offre une expertise thérapeutique, qui apporte une exploration personnelle plus profonde dans les ateliers, destinés à libérer le stress, les angoisses de la vie quotidienne. L'idée n'est pas de réaliser une séance thérapeutique, mais d'explorer à travers les différents ateliers ...</p>
        <p>Emilie est une coach personnelle et artiste thérapeute de grande trajectoire, elle a réalisé différents ateliers dans différentes parties du monde, dans lesquels elle a pu observer les apports que les techniques de développement personnel ont.</p>
        
    </div>
    <div>
        <h2 class="my-5">L'art-thérapie</h2>
        <p>L'art-thérapie est une forme de psychothérapie qui utilise la création artistique (dessin, peinture, collage, sculpture, etc.) pour prendre contact avec sa vie intérieure (sentiments, rêves, inconscient, etc.), l'exprimer et se transformer.</p>
        <h2 class="my-5">Comment coach-art implement la therapie dans les ArtEvents?</h2>
        <p>Le principe de nos artistes therapteutes est de créer des evenements où les participants puissent approcher l'art d'une façon interactive, n'importe le niveau, car le but est d'utiliser l'art comme moyen de liberation du stress, une opportunité pour lacher prise...</p>
     
    </div>
</div>
{% include "footer.html.twig" %}
{% endblock %}