{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="nav-bg-div connexion-fixed">
</div>

    <div class="p-5 reset_password container-padding-top">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="pt-5">Mot de passe oublié</h1>
        <p class="p-2">
            Veuillez entrer votre adresse e-mail pour réinitialiser votre mot de passe.
        </p>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
       
        <div class='d-flex'>
        <button class="w-40 mt-3 btn-color1">Envoyer</button>
        </div>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
