
label{
    font-weight: bold;  
}
input{    
    height: 35px;
    padding: 8px;
    border-radius: 6px;
    border: 0.4px solid gray;
}


form{     
    width: 80%;
     
}
[type=submit]{
    border-radius: 10px; 
    width: 100%;
}
/*-------Formulaire evenement-----*/

.detail-link{
    color: black;
}
.detail-link:hover{
    text-decoration: none;
    color: gray;
}

/*---------connexion----------------*/

.connexion-container{
    height: 100vh; 
    font-family: var(--primary-font);
}
.connexion-fixed{
    position: fixed;
    z-index: 10;
}
.box-connexion{
    width: 50%;
}
#img-connexion{
    background-image: url('../uploads/security/img-connexion.webp');
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.form-container-connexion{
    margin-top: 80px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}
.connexion-container a{
    font-size: 13px;
    font-weight: bold;
    color: var(--primarylight-color);
}

/*--------------inscription----------------*/

#registration{
    width: 100%;
}
#registration input{
    width: 100%;
}
#registration >div{
    margin-bottom: 20px;
}
/*-------------------contact---------------------*/
.contact-container{
    min-height: 76vh;
    background-image: url('../uploads/profil-behin2.jpg');
    background-position: center;
    background-size: cover;
}
.contact-form{
 width: 700px;
 padding: 50px 10px;
 color: white;
 background-color: rgba(180, 162, 162, 0.2);
 border-radius: 10px;
}

#contact{
    width: 100%;
}
#contact > div{
    display: flex;
    flex-direction: column;
}
#contact_message{
    margin-bottom: 20px;
}
.title-proposition{
    background-color: black;
}
/*-----------search-----------------*/
form[name="search_event"], form[name="search_event_admin"]{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
    margin-bottom: 20px; 
    box-shadow: 2px 2px 15px black;
 }

     
 form[name="search_event"]{
    background-color: rgb(37, 28, 47);
 }
 #search_event_admin_send{
     margin-left: 25px;
 }
select{
    appearance: none;
    padding: 5px 10px;
    width: 250px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: bold;  
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border:none;
    -webkit-appearance: button;
    outline: none;
    transform: 2s;
}
select:hover{
   
    scale: 1.05;
    
}
/*--------reset password--------*/
.reset_password{
    padding-top:80px;
}

@media screen and (max-width:  1150px){
    #img-connexion{
        display: none;
    }
    .box-connexion{
        width: 100%;
    }
} 
