
label{
    font-weight: bold;  
}
input{    
    height: 35px;
    padding: 8px;
    border-radius: 6px;
    border: 0.4px solid gray;
}


form{     
    width: 80%;
     
}
[type=submit]{
    border-radius: 10px; 
    width: 100%;
}
/*-------Formulaire evenement-----*/

.detail-link{
    color: black;
}
.detail-link:hover{
    text-decoration: none;
    color: gray;
}

/*---------connexion----------------*/

.connexion-container{
    min-height: 100vh; 
    font-family: var(--primary-font);
}
.connexion-fixed{
    position: fixed;
    z-index: 10;
}
.box-connexion{
    width: 50%;
}
#img-connexion{
    background-image: url('../uploads/security/img-connexion.webp');
    width: 50%;
    background-position: center;
    background-size: cover;
}
.form-container-connexion{
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}
.connexion-container a{
    font-size: 13px;
    font-weight: bold;
    color: var(--primarylight-color);
}

/*--------------inscription----------------*/
#registration li {
    list-style: none; 
    color: rgb(133, 79, 58); 
    font-weight: bolder; 
}
#registration{
    width: 100%;
}
#registration input{
    width: 100%;
}
#registration >div{
    margin-bottom: 20px;
}
/*-------------------contact---------------------*/
.contact-container{
    min-height: 80vh;
    padding-top: 100px;
    background: linear-gradient(45deg, black,var(--primary-color));
    background-position: initial;
    background-size: cover;  
}
.contact-form{
 width: 700px;
 padding: 30px 10px;

 color: rgb(205, 215, 218);
 background-color: rgba(67, 74, 75, 0.2);

}
#contact{
    width: 100%;
}
#contact > div{
    display: flex;
    flex-direction: column;
}
#contact_message{
    margin-bottom: 20px;
}
.title-proposition{
    background-color: black;
}
#contact_send{ 
    width: 5rem;
    margin: 2rem auto;
}
/*-----------search-----------------*/
form[name="search_event"], form[name="search_event_admin"]{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 30px 10px;
    margin-bottom: 20px; 
    box-shadow: 2px 2px 15px black;
 }

     
 form[name="search_event"]{
    background:linear-gradient(15deg,var(--primarylight-color), var(--primary-color));
    display: flex;
    align-items: center;
 }
 #search_event_admin_send{
     margin-left: 25px;
 }
select{
    appearance: none;
    padding: 4px;

    font-family: var(--primary-font);
    color: #155267;
    background-color: rgb(230, 235, 236);
    font-weight: bold;  
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border:none;
    -webkit-appearance: button;
    outline: none;
    transform: 2s;
}
select:hover{
   
    scale: 1.05;
    
}
/*--------reset password--------*/

@media screen and (max-width:  1150px){
    #img-connexion{
        display: none;
    }
    .box-connexion{
        width: 100%;
    }
} 
@media screen and (max-width:  800px){
    .contact-form {
        width: 90%;
        }    
    .box-connexion{
        width: 100%;
    }
    #search_event_admin_send{
        padding: 4px;
        font-size: 9px;
        margin-left: 5px;
    }
    #search_event_admin_name{
        padding: 4px;
        height: auto;
    }
} 
@media screen and (max-width:  350px){
    #contact-message{
        font-size: 13px;
    }
    select{
        width: 130px;
        padding: 10px 5px;  
    }
    form[name="search_event"]{
        gap: 10px;
    }
    .title-page{
        font-size: 25px;
    }
   
}

