/*  ----Contains:------
1-Header
2-Home
    a.First-block
    b.Second-block
    c.Third-block
    d.Fourth-block (events-grid-container)
3-Event Détail
4-About Us
5-Paginator
6-Footer
@media-queries
*/

h2{
    color: var(--primary-color);
    margin: 10px;
}
/*------------ 1-Header-  -------------------*/

#logo{
    font-family: fantasy;
    font-size: 34px;  
    margin-left: 40px;
    display: block;
    color: var(--second-color);
    line-height: 1;
    padding-bottom: 0px;
    font-weight: bold; 
}
.nav-bg-div{
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--second-font);
    font-weight: 400;
}

header{
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  
}
nav{    
    justify-content: space-between;  
    align-items: center;
    height: 80px;
    width: 100%;
    padding: none;
    
}
.bgColor{
    color: white;
    background-color: var(--primary-color);

    transition: all 1s;
}
.dropdown-menu{
    background-color: #000000;
}
.show{
  background-color: black;

}
.social-icons{
    color: white;
    align-self: flex-end;
    background-color: black;
    padding: 5px 10px;
}

/*--------------  2-Home- -----------------*/
/* --- a.First-block  */
#imageHome{
    
    background-image: url('../uploads/coach-art-home-intro.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: rgb(153, 75, 51);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: var(--primary-font);
   
}
/* --- b.Second-block  */
.titleDescription{
    font-size: 2.5rem;
    color: white;
    text-align: end;
    margin: 200px 70px;  
    width: 45%;
    font-weight: 100;

}
#about-coachArt-container{
    padding: 70px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;  
}
.about-coachArt img{
    width: 200px;
    height: 200px;
}
.about-coachArt{
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

/*-----  c.Third-block ----------*/

.info-container{
    background-image: url('../uploads/behind-description.jpeg');
    color: white;
    padding: 20px;
}
.info-container p{
    font-size: 55px; 
    font-family: 'Nanum Gothic', sans-serif;   
    text-align: center;   
}
.info-container>div, .carousel-item >img{ 
    height: 600px;
}
.info-container>div{
   width: 50%; 
}
.carousel-item >img{
    width: 100%;   
}

/*---   d.Fourth-blocl (events-grid-container)-    ---*/

.list-events{
    padding: 30px 90px;
}
.container-body{
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 80px;  
}
.grid-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 50px;   
}
.grid-item{
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 5px 3px 10px 0px #DAD4D4;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10px;
}
.grid-item>a{
    width: 100%;
}
.grid-item:hover{
    opacity: 0.9;
    box-shadow: 8px 10px 10px 1px #DAD4D4;
    background-color: rgb(251, 251, 251);
    transform: scale(1.05);
}
.grid-item>a:hover{ 
    text-decoration: none;
}
.img-container-event{
    width: 100%;
    height: 250px;
    display: inline-block;
    overflow: hidden; 
    position: relative; 
}
.image-event{
    height: 100%; 
    width: 100%; 
   background-position: center;
    transition: 1.3s;
}
.event-option{
    color: white;
    font-weight: bolder;
    padding: 5px 10px;
    margin: 10px 5px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: var(--primary-color)
    
}
.grid-item h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.grid-item p{  
    font-size: 1rem;
    margin-bottom: 3px;
    
}
.image-event:hover{
    transform: scale(1.1);
}
.product-info{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    color: rgb(92, 88, 88);
}
.product-info2{
    width: 20%;
}
.therapist-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.therapist-image>img{
    width: 100%;
    height: 100%;
}
.therapist-name{
    font-size: 0.5rem;
}
.title-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    min-height: 250px;
    color: white;
    padding-top: 100px;
}
.reservation-button{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px;
    box-shadow: 3px 3px 10px rgb(98, 98, 98);
    border: 0.8px solid rgb(65, 63, 63);
}

/*-------- list events page ----*/
.art-event-title{
    background-image: url('../uploads/behind-description.jpeg');
}

/*---------------   3-Event Détail-  ---------------*/

.product-detail-container{
    background-color: #F8F7F7;
    border: 1px solid rgb(233, 229, 229);
    box-shadow: 3px 3px 3px rgb(204, 202, 202);  
    width: 80%;
    border-radius: 10px;
}
.product-detail{
    padding: 60px;
}
.detail-title{
    text-transform: uppercase;
    color: var(--second-color);
}
.product-detail h3{
    
    font-family: var(--third-font);
    
}
.product-detail p{
    font-family: var(--primary-font);
    text-align: justify;
}


/*--top--*/

.top-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-event-detail{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  box-shadow: 3px 3px 6px gray;  
}
.image-event-detail > img{
    width: 100%;
    height: 100%;
    background-position: center;
    transition: 1.3s;
    
}
.info-event-detail{
    width: 45%;
    padding-top: 20px;
}

/*--bottom---*/

.bottom-detail{
    justify-content: space-between;
}
.therapist-container{
    width: 70%;
    margin-left: 5px;
    margin-bottom: 30px; 
}
.therapist-detail{
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;  
}
#therapist-detail-title{
    color: var(--primary-color);
}
#name-therapist-detail{
    font-family: var(--third-font);
    text-transform: capitalize;
    font-weight: bold;   
    width: 100%;
    font-size: 25px;
    text-align: center;
}
#map{   
    width: 20%; 
}
#map > img{
    width: 100%;
}

/*--- Reservation bouton-container --*/

.event-action > div{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px;
}
.detail-event-price{
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin: 0px;
}


/*--------- 4-About-us-   ------------*/

.about-us-title{
    background-image: url("../uploads/profil-behin2.jpg");
}
.title-page{
    font-size: 80px;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;  
}
.about-us-info{
    padding: 40px 200px;
}
.about-us-info p{
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
  
}
.about-us-btn{
    border-radius: 10px;
    padding: 10px;
}
.page{
    padding: 30px;
    background-color: aquamarine;
}
/*---------------- 5-Paginator- ------------*/
.pagination{
    margin-top: 50px;
}

.pag-link{
    border: 0.3px solid gray; 
    padding: 10px;
}
.pag-item a{
    color: rgb(175, 111, 69);
    font-size: 18px;
   
}
.pag-item:hover a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: rgb(206, 192, 181);
}
.pag-item.disabled .pag-link{
    color: var(--primary-color); 
  
}
.pag-item.active .pag-link{
    background-color: var(--primary-color);
    padding:18px;
    color: white;

}

/*--------- 6-Footer-   ------------*/

footer{
    background-color: #eceaea;
}
.footer-info{
    display: flex; 
    justify-content: space-around;
}
#legal{
    justify-content: center;
    gap: 30px;
}

.footer-info >div{
    padding: 40px 0px 30px 0px ;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}
.footer-info a{
    font-size: 15px;
    color: rgb(185, 181, 181);
    text-decoration: none;
}
.footer-info>p{
    color: rgb(165, 163, 163);
    font-size: 12px;
}
.footer-title{
    margin-bottom: 20px;
}

@media screen and (max-width:  1700px){ 

    .info-container p{
        font-size: 35px;    
    }
    .grid-container{
        width: 1100px;
        grid-template-columns: repeat(3, minmax(0, 0.4fr));
    }
}

@media screen and (max-width:  1200px){
    .info-container>div, .carousel-item >img{
        width: 100%;
        height: 500px;
    }
    .info-container{
      flex-direction: column-reverse; 
    }
    .list-events{
        padding: 30px 5px;
    }
    .grid-container{
        width: 800px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:40px
    }
    .product-detail{
        padding: 30px;
    }
} 
@media screen and (max-width:  1100px){
    .product-detail h3{
        font-size: 20px;
    }
   
    .product-detail p{
        font-size: 14px;
    } 
    .image-event-detail{
        height: 430px;
    } 
    #name-therapist-detail{
        font-size: 18px;
    }
}
@media screen and (max-width:  1000px){
    .bottom-detail{
        flex-direction: column;
    }
    .therapist-container{
        width: 100%;
    }
}
@media screen and (max-width:  870px){
    .titleDescription{
        font-weight: 1rem;  
    }
    .grid-item{
        width: 100%;
    }
    .grid-container{
        width: 480px;
        grid-template-columns: none;
        padding: 20px;
    }
    .top-detail{
        display: flex;
        flex-direction: column-reverse;
    }
    .image-event-detail{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--primary-color); 
        border-radius: 10px;
        padding: 10px;
    }
    .image-event-detail > img{
        width: 60%;
    }
    .info-event-detail{
        width: 100%;
        margin-bottom: 20px;
    }
    #map{
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
    #map >img{
        margin-top: 20px;
        width: 50%;
        align-self: center;
    }
 

} 