/*
It's necessary to change  the margin bottom in the .profil-img-behind if there is more information (line.43 user.css)
*/

/*-----------basket------------*/
.panier-title {
    background-image: url("../uploads/behind-description.jpeg");
}
.basket-image{
    height: 50px;
    width: 80px;
}
.basket-quantity>div{
    padding: 0px 10px;
    border: 0.4px solid gray;
    display: flex;
    align-items: center;
}

.basket-quantity>div>a{
    text-decoration: none;
}
.basket-totalPrice{
    padding: 30px 100px;
    align-self: flex-end;
}
.btn-basket{
    gap: 20px;
}
table{
    width: 100%;
}

tr{
    border-bottom: 1Px solid rgb(219, 215, 215);
}
thead{
    border-bottom: 1Px solid black;
}
.basket-succes{
    padding-top: 100px;
}

/*---------- Profil----------------------*/
.profil-img-behind{
    background-image: url("../uploads/profil-behin2.jpg");
    color: white;
    margin-bottom: 500px;
    height: 400px;
    width: 100%; 
    box-shadow: 6px 4px 15px black;
}
.profil-img-behind > h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
    margin-top:500px; 
    font-family: var(--second-font); 
}
.profil-top{
    display: flex;
}
.image-profil{
    width: 250px;
    height: 250px;
    object-position: center;
    margin-bottom: 50px;
    margin-right:70px ;
    border: 30px solid black;
    box-shadow: 3px 3px 5px rgb(29, 24, 24);
}

#profil-img-behind>div{
    gap: 200px;
    align-items: center;
}
#profil-img-behind>div>p{
    
    font-size: 35px;
}
.profil-description{
   display: flex;
   flex-direction: column;

    margin:0px 200px;
    padding: 20px;  
}
.profil-description>h4{
    width: 60%;
}
.profil-about{
    color: black;
    margin-bottom: 30px;
    font-size: 20px;
    
}
.profil-name{
    margin-top: 60px;
    font-size: 30px;
    font-family: var(--second-font);
}

.btn-modif-profil{
    padding: 10px 25px;
    border-radius: 5px;
}
.btn-modif-profil:hover{
    text-decoration: none;
}
.mailError-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@media screen and (max-width:  1100px){
    .profil-description {
        margin: 0px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
@media screen and (max-width:  800px){
    .image-profil{
        width: 200px;
        height: 200px;
        margin-right: 30px;
    }
    .profil-description {
        margin: 0px 60px;
    }
    .profil-name{
        font-style: 25px;
    }
    .profil-about{
        font-style: 15px;
        text-align: justify;
    }

}

@media screen and (max-width: 546px){
    .image-profil{
        width: 170px;
        height: 170px;
        
    }
    .profil-description {
        margin: 0px;
    }
    
    .profil-top{
        flex-direction: column-reverse;
        align-items: center;
    }
    .profil-img-behind > h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .profil-name{
        margin-top: 0px;
        margin-bottom: 10px
    }

}
@media screen and (max-width:  400px){
    .basket-image{
        display: none;
    }
    .basket-quantity>div{
        padding: 0px 4px;
    }

}

