{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">
{% include "admin/admin.html.twig" %}
<div class="d-flex flex-column admin-action">
<h3>Modifier utilisateur</h3>
{{form(form)}}
</div>
</div>
{% endblock %}