/* form >div{
    width: 100%;
    display: flex;
    flex-direction: column; 
   
    padding: 10px;  
} */
form > div > div{
    display: flex;
    flex-direction: column;
    margin-bottom:  10px;
}
label{
    font-weight: bold;  
}
input{    
    height: 35px;
    padding: 8px;
    border-radius: 6px;
    border: 0.4px solid gray;
}
 form{     
    width: 80%; 
}
[type=submit]{
    border-radius: 10px;
    margin-top: 20px;
   
    
}
/*-------Formulaire evenement-----*/

.detail-link{
    color: black;
}
.detail-link:hover{
    text-decoration: none;
    color: gray;
}

/*---------connexion----------------*/

.connexion-container{
    height: 100vh; 
}
.connexion-fixed{
    position: fixed;
    z-index: 10;
}
#img-connexion{
    background-image: url('../uploads/security/img-connexion.webp');
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.form-container-connexion{
 
    margin-top: 80px;
    height: 600px;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 20px;
}

/*--------------inscription----------------*/

#registration{
    width: 100%;
}
#registration input{
    width: 100%;
}
#registration >div{
    margin-bottom: 20px;
}
/*-------------------contact---------------------*/
.contact-container{
    min-height: 76vh;
    background-image: url('./uploads/profil-behin2.jpg');
    background-position: center;
    background-size: cover;
}
.contact-form{
 width: 700px;
 padding: 50px 10px;
 color: white;
 background-color: rgba(180, 162, 162, 0.2);
 border-radius: 10px;
}

#contact{
    width: 100%;
}
@media screen and (max-width:  1150px){
    #img-connexion{
        display: none;
    }
    .form-container-connexion{
        width: 100%;
    }
} 
