*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root
{
    --primary-color:#420c3e;
}

button{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
}
.btn-color1{
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 10px;   
}
button a{
    color: white;
    text-decoration: none;
  
}


#logo{
    font-family: fantasy;
    font-size: 30px;   
}
nav a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    height: 80px;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin: 30px;
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#imageHome{

    background-image: url('https://images.pexels.com/photos/5566941/pexels-photo-5566941.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(153, 75, 51);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.titleDescription{
    font-size: 2.5rem;
    color: white;
    text-align: end;
    margin: 280px 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
}
/*-----info----------*/


.info-container p{
    font-size: 55px; 
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;   
}
.info-container img{
    margin: 100px 0px;
    height: 600px;
}

/*--------------product-container---*/
.product-container{
    width: 85%;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}
/*--------------product-card---------*/
.product-card{
    border-radius: 10px;
    width: 400px;
    padding: 18px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(235, 232, 232, 0.5);
    margin-bottom: 30px;
    
}
.product-card p{
    margin-bottom: 0px;
    font-size: 14px;
}
.product-card h4{
  font-size: 20px;
  font-weight: bold;
}
.product-card a{
    text-decoration: none;
    color: black;
}

.product-card:hover{
    opacity: 0.7;
    color: black;
    
}

.product-card img{
    width: 99%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 10px;   
}
.product-info{
    display: flex;
    justify-content: space-between;
}
.product-info2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

/*---------------Détail---------------*/
.product-detail{
    background-color: #F8F7F7;
    width: 80%;
    padding: 70px;
    margin: 50px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
#map{
    width: 200px;
    height: 100px;
    background-color: rgb(199, 199, 199);
}

/*----------Profil----------------------*/

.profil-img-behind{
    background-image: url("./uploads/profil-behin2.jpg");
    color: white;
    position: absolute;
    height: 460px;
    width: 100%; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    box-shadow: 3px 3px 3px black;
}
.profil-description>h1{
    margin-right: auto;
    text-align: center;
    margin-left: auto;  
    border-bottom: 2px solid white;
    width: 40%;
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 100px;
}
.image-profil{
    width: 200px;
    height: 200px;
    object-position: center;
    margin-bottom: 100px;
    margin-right:100px ;
}
#profil-img-behind>div{
    gap: 200px;
    align-items: center;
}
#profil-img-behind>div>p{
    font-size: 35px;
}
.profil-description{
   display: flex;
   flex-direction: column;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;  
}
.profil-description>h4{
    width: 60%;
}
.profil-about{
    color: black;
    margin-bottom: 30px;
    font-size: 20px;
}
.profil-name{
    margin-top: 50px;
    font-size: 30px;
  
}

/*-------Formulaire evenement-----*/
#art_event, #proposition{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
#art_event > div, #proposition>div{
    display: flex;
    flex-direction: column;
    margin-bottom:  30px;
}

label{
    font-weight: bold;  
    font-family: sans-serif;
}

input{    
    height: 30px;
}

form{     
    width: 50%;
    display: flex;
    justify-content: center; 
}



/*--------vich image-------*/

.vich-image{
    display: flex;
    flex-direction: column;
}
.vich-image img{
    width: 100px;
    height: 100px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  footer{
    background-color: #F6F2F2;
  }
.footer-info{
    display: flex; 
    justify-content: space-around;
}
#legal{
    justify-content: center;
    gap: 30px;
}

.footer-info >div{
    padding: 40px 0px 60px 0px ;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}
.footer-info a{
    font-size: 20px;
    color: rgb(185, 181, 181);
    text-decoration: none;
}
.footer-info>p{
    color: rgb(165, 163, 163);
    font-size: 12px;
}
.footer-title{
    margin-bottom: 20px;
}
  