/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Mali', cursive;
font-family: 'Nanum Gothic', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
}
:root
{
    --primary-color:rgb(73, 12, 68);
}
.container{
    padding-top: 80px;
}

button{
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
}
.btn-color1{
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 10px; 
    color: white;  
}
.btn-color1>a{
    color: white;
}
.btn-color1:hover{
    background-color: rgb(241, 214, 237);  
    color: var(--primary-color); 
}
.btn-color1>a:hover{
    color: var(--primary-color);
    text-decoration: none;
}

button a{
    color: white;
    text-decoration: none;
}
#registration{
    width: 100%;
}
#registration input{
    width: 100%;
}
#registration >div{
    margin-bottom: 20px;
}
/*------------Header-------------------*/
#logo{
    font-family: fantasy;
    font-size: 30px;  
    width: 60%; 
}
nav a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    font-size: 18px;
}
header{
  justify-content: space-between;
  position: fixed;

  z-index: 100;
  width: 100%;
}
nav{   
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    height: 80px;
    width: 100%;
}

.dropdown-menu{
    background-color: #000000;
}
.show{
  background-color: black;
  padding: 10px;

  }
  
.flex{
    display: flex;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
h2, h3{
    color: var(--primary-color);
}
h2{
    text-align: center;
    margin: 30px;
}
h3{
    margin-bottom: 2rem;
}
/*--------------Home-----------------*/
#imageHome{
    background-image: url('https://images.pexels.com/photos/5566941/pexels-photo-5566941.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(153, 75, 51);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
   
    
}
.titleDescription{
    font-size: 2.5rem;
    color: white;
    text-align: end;
    margin: 280px 70px;  
    width: 40%;
}
#about-coachArt-container{
    padding: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
  
}
.about-coachArt img{
    width: 200px;
    height: 200px;
}
.about-coachArt{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;

}
/*-----info----------*/

.info-container{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}
.info-container p{
    font-size: 55px; 
    font-weight: lighter;   
    text-align: center;   
}
.info-container>div, .carousel-item >img{
    
    height: 600px;
}
.info-container>div{
   width: 50%; 
}
.carousel-item >img{
    width: 100%;
    
}
/*---grid-event-container---*/
.list-events{
    font-family: 'Nanum Gothic', sans-serif;
    padding: 80px 40px 50px 40px;
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 50px;
    padding: 60px 30px; 
}
.grid-item{
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 5px 3px 10px 0px #DAD4D4;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.grid-item>a{
    width: 100%;
}
.grid-item:hover{
    opacity: 0.9;
    box-shadow: 8px 10px 10px 1px #DAD4D4;
    background-color: rgb(251, 251, 251);
    transform: scale(1.05);
}
.grid-item>a:hover{ 
    text-decoration: none;
}
.img-container-event{
    width: 100%;
    height: 250px;
    background-color: rgb(8, 1, 14);
    display: inline-block;
    overflow: hidden; 
}

.image-event{
    width: 100%;
    height:100%;
      
    transition: 1.3s;
}

.grid-item h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
  
  }
  .grid-item p{
      
      color: black;
      font-size: 1rem;
      margin-bottom: 3px;
      color: rgb(92, 88, 88);
  }
.image-event:hover{
    transform: scale(1.1);
}

.product-info{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
}
.product-info2{

    width: 20%;
}
.flex-around-col{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.therapist-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}
.therapist-image>img{
    width: 100%;
    height: 100%;
}
.therapist-name{
    font-size: 0.5rem;
}
/*---------------Détail---------------*/
.product-detail{
    background-color: #F8F7F7;
    border: 1px solid rgb(233, 229, 229);
    box-shadow: 3px 3px 3px rgb(204, 202, 202);
    width: 70%;   
    margin: 50px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.product-detail_info{
    padding: 50px 80px;
}
#map{
    height: 300px;
}
.detail-event-price{
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
  
}
.event-action >div{
    background-color: rgb(235, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px;
}

/*----------Profil----------------------*/

.profil-img-behind{
    background-image: url("./uploads/profil-behin2.jpg");
    color: white;
    position: absolute;
    height: 460px;
    width: 100%; 
    box-shadow: 3px 3px 3px black;
}
.profil-description>h1{
    margin-right: auto;
    text-align: center;
    margin-left: auto;  
    border-bottom: 2px solid white;
    width: 40%;
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 100px;
}
.image-profil{
    width: 200px;
    height: 200px;
    object-position: center;
    margin-bottom: 100px;
    margin-right:100px ;
}
#profil-img-behind>div{
    gap: 200px;
    align-items: center;
}
#profil-img-behind>div>p{
    font-size: 35px;
}
.profil-description{
   display: flex;
   flex-direction: column;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;  
}
.profil-description>h4{
    width: 60%;
}
.profil-about{
    color: black;
    margin-bottom: 30px;
    font-size: 20px;
}
.profil-name{
    margin-top: 50px;
    font-size: 30px;
  
}

/*-------Formulaire evenement-----*/
#art_event{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 248, 248);
    padding: 20px;
    
}
#art_event > div{
    display: flex;
    flex-direction: column;
    margin-bottom:  20px;
}

label{
    font-weight: bold;  
    font-family: sans-serif;
}

input{    
    height: 30px;
}

form{     
    width: 50%;
    display: flex;
    justify-content: center; 
}

/*---------connexion----------------*/
.connexion-container{
    height: 100vh;
}
#img-connexion{
    background-image: url('./uploads/security/img-connexion.webp');
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.form-container-connexion{
    width: 50%;
}
/*--------vich image-------*/

.vich-image{
    display: flex;
    flex-direction: column;
}
.vich-image img{
    width: 100px;
    height: 100px;
}

  footer{
    background-color: #eceaea;
  }
.footer-info{
    display: flex; 
    justify-content: space-around;
}
#legal{
    justify-content: center;
    gap: 30px;
}

.footer-info >div{
    padding: 40px 0px 60px 0px ;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}
.footer-info a{
    font-size: 20px;
    color: rgb(185, 181, 181);
    text-decoration: none;
}
.footer-info>p{
    color: rgb(165, 163, 163);
    font-size: 12px;
}
.footer-title{
    margin-bottom: 20px;
}

@media screen and (max-width:  1500px){
    .info-container>div, .carousel-item >img{
    width: 100%;
        height: 500px;
    }
    .info-container{
      flex-direction: column-reverse; 
    }
   
    .info-container p{
        font-size: 35px; 
      
    }
    .grid-container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .img-container-event{
        height: 180px; 
    }

}
 
@media screen and (max-width:  1150px){
    .grid-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:40px
    }
    .img-container-event{       
        height: 180px;     
    }
} 
@media screen and (max-width:  700px){
    .grid-item{
        width: 100%;
    }
    .grid-container{
        grid-template-columns: none;

    }
    .img-container-event{       
        height: 180px;     
    }

} 