/*  ----Contains:------
1-General
2-Buttons
3-Styles-fonts
4-Tables
5-Images
*/
/* ----Font-styles
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Mali', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Archivo', sans-serif;
font-family: 'Signika Negative', sans-serif;
*/

/*----    1-General-    -----*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 247, 245);
}
body p{
    margin-bottom: 0px;
}
:root
{
    --primary-color:#240144;
    --second-color: #d65f41; 
    --third-color: #FFB85F;
    
    --primary-font:'Nanum Gothic', sans-serif;
    --second-font: 'Signika Negative', sans-serif;
    --third-font: 'Mali', cursive;
}
.flex-center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.flex-around-col{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
/*-----     2-Buttons    --------*/
button{
    padding: 5px 10px;
    background-color: var(--second-color);
    color: white;
    border: none;
}
.btn-art{
    padding: 10px;
    border-radius: 10px; 
    text-transform: uppercase; 
    text-decoration: none;
    width: 300px;
    text-align: center;
}
a:hover{
    text-decoration: none;
}
.btn-color1{
    background-color: var(--second-color);  
    border: none;  
    color: white; 
    
}
.btn-color2{
    border: 1px solid var(--primary-color);
    color: var(--primary-color); 
}
.btn-color2:hover{
    color: black;
    text-decoration: none;

}
.btn-color1>a{
    color: white;
}
.btn-color1:hover{
    background-color: rgb(32, 14, 29);  
    color: white; 
}
.btn-color1>a:hover{
    color: var(--primary-color);
    text-decoration: none;
}
button a{
    color: white;
    text-decoration: none;
}
/*-----------  3- style-headings-     ----------*/

h2{
    text-align: center;
    margin: 30px;
}
h3{
    margin-bottom: 2rem;
    color: var(--primary-color);
}
a{
    text-decoration: none;
    font-size: 18px;
}
/*------------   4-tables-  -----------------*/

.table-container{
    width: 80%;
}
/*-----------   5-vich images-   -------------*/

.vich-image{
    display: flex;
    flex-direction: column;
}
.vich-image img{
    width: 100px;
    height: 100px;
}
#art_event_imageFile_file, #user_edit_imageFile_file{
    height: 50px;
}