{% extends "base.html.twig" %}
{% block body %}
<h1>Récapitulatif de la commande:</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom de l'evenement</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantité</th>
    </tr>
  </thead>
  <tbody>{% for article in order.articles %}
    <tr>
      <td scope="row"></td>
      <td>{{article.event.name}}</td>
      <td>{{article.event.price}}€</td>
      <td>{{article.quantity}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
<p>Total de la commande: {{order.totalPrice}}</p>

{% endblock %}