{% extends 'base.html.twig' %}

{% block title %}Contactez nous!{% endblock %}

{% block body %}
<div class="page-contact">
<div class="flex-center-col contact-container">
<div class="contact-form flex-center-col">
<h2>Nous contacter</h2>
<p id="contact-message" class="mb-5 text-center">Laisses nous un message! On se mettra en contact prochainement</p>
{% for message in app.flashes('succes') %}
{{message}}
{% endfor %}
    {{form(form)}}
    </div>
</div>   
{% include "footer.html.twig" %}
</div>
{% endblock %}
