
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Bienvenue</title>
</head>
<style>
    header{
        background-color: black;
        color: white;
        width:100%;
        height: 200px;  
        display:flex;
        justify-container: center;
        align-items:center;
    }
</style>
<body>
    <header>
        <h1>Coach art</h1>
    </header>
    <div>
        <h1>Récapitulatif de la commande:</h1>

        <table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nom de l'evenement</th>
            <th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            </tr>
        </thead>
        <tbody>{% for article in order.articles %}
            <tr>
            <td scope="row"></td>
            <td>{{article.event.name}}</td>
            <td>{{article.event.price}}€</td>
            <td>{{article.quantity}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <p>Total de la commande: {{order.totalPrice}}</p>
    </div>
</body>