<footer>
    <div class="footer-info">
            <div>
                <h4 class="footer-title">Coach-art</h4>
                <a href="">À propos de nous</a>
                <a href="">Contact</a>
                <a href="">Blog</a>
            </div>
            <div>
                <h4 class="footer-title">Découvrez</h4>
                <a href="{{path('app_events_list')}}">Nos Ateliers</a>
                <a href="{{path('app_therapist_proposition')}}">Propositions</a>
                <a href="">Presse</a>
            </div>
            <div>
                <h4 class="footer-title">Contact</h4>
                <a href="">Boite à questions</a>
                <a href="">Centre d'aide</a>

            </div>
    </div>
    <div class="footer-info" id="legal"> 
        <p>Politique de confidencialité</p>
        <p>Mentions légales</p>
        <p>Conditions légales</p>
        <p>@{{'now'|date('Y')}} Coach-Art</p>
    </div>
</footer>