
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Bienvenue</title>
</head>
<style>
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    header{
        background-color: #002133;
        color: #CD6C5C;
        width:100%; 
        display:flex;
        justify-container: center;
        align-items:center;
        padding: 10px 40px;
    }
    .message{
        margin:20px
        display:flex;
        justify-content:center;
        flex-direction: column;
        text-align:center;
    }
    h1{
        font-weight: lighter;
        text-align: center;
    }
    a{
        background-color: #002133;
        color: #CD6C5C;
        text-decoration:none;
        padding:10px;
        margin: 100px;
        border-radius:10px;
    }
    a:hover{
        opacity:0.5;
    }
    .link-container{
        margin:30px;

    }
    #year{
        font-size:12px;
        color:#CD6C5C;
    }
</style>
<body>
    <header>
        <h1>Coach art</h1>
    </header>
    <div class="message">
    
        <h1>Bienvenue {{name}} ravie de te voir! </h1>
        <p>Merci de t'inscrire chez nous, maintenant tu peux réserver des ateliers à coach-art!</p>
        
        <img src="https://media2.giphy.com/media/dvNwhVCMyvEwSLPRem/giphy.gif?cid=6c09b952bb1aeaa59e683cdcbe6e87a111e57a8bceaa7098&rid=giphy.gif&ct=g" width="200px"/>
        <div class="link-container">
        <a href="https://127.0.0.1:8000/">Visite coach-art</a>
        </div>
        <p id="year">@2022 Coach-art</p>
    </div>
</body>