

{% extends "base.html.twig" %}
{% block title %}Proposer un atelier{% endblock %}
{% block body %}

<div class="nav-bg-div connexion-fixed"></div>
<div class="d-flex flex-column admin-action">
    <h2>Proposer un atelier</h2>
    {{ form(form) }}
</div>


{% endblock %}