

{% block title %}Coach-art!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  

    <h2>Bonjour {{name}}</h2>
    <p>Ton evenement a été bien ajouté</p>
    <img src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947__480.jpg"></img>
</div>
{% endblock %}
